<div class="container-white-background">
  <div class="home-container">
    <div class="devise-container">
      <h2 class="home-title">Sign up</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs  devise-input">
              <div class="photo" data-controller="photo-preview">
                <label class="upload-photo-btn">
                  <%= f.file_field :photo, class: 'd-none', data: { photo_preview_target: "input", action: "change->photo-preview#displayPreview" } %>
                  <%= image_tag "Group 427322731.png", width: 100, class: "hidden", data: { photo_preview_target: "preview" } %>
                </label>
              </div>
            <%= f.input :username,
                        placeholder: 'Madu',
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "username" }%>
            <%= f.input :email,
                        required: true,
                        placeholder: 'ilovepets@email.com',
                        input_html: { autocomplete: "email" }%>
            <%= f.input :phone,
                        required: true,
                        placeholder: '+31 6 12 34 56 78',
                        input_html: { autocomplete: "phone" }%>
            <%= f.input :password,
                        required: true,
                        placeholder: 'At least 6 characters',
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="form-bottom-sign-up">
            <div class="form-actions devise-action">
              <%= f.button :submit, "Sign up" ,class: 'button btn btn-primary'%>
            </div>
            <div class="devise-sign-up">
              <%- if controller_name != 'sessions' %>
                <p>Already have an account? <%= link_to "Log in", new_session_path(resource_name) %></p>
              <% end %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
