<% @pets.each do |pet| %>

  <% if pet.missing? === true %>

    <a href="<%= pet_path(pet) %>">
    <div class="card-border-bottom">
      <div class="card-container-index" style="background-image: url('<%= cl_image_path pet.photo.key, height: 300, crop: :fill %>')">
        <div class="" data-toggle-index-target="overlay">
          <% if pet.name.present? %>
            <p><%= pet.name.capitalize %></p>
          <% else %>
            <p>Found <%= pet.species.downcase %></p>
          <% end %>
          <small><span><%= pet.city.capitalize %></span></small>
        </div>
      </div>
  </a>
      <div class="card-index-details" data-controller="phone-number">
        <p><%= pet.created_at.strftime('%a %e %b')%></p>
        <span><%= pet.details.capitalize%></span>
        <div class="card-contact-info">
          <div class="d-none" data-phone-number-target= "number">
            <%= pet.user.phone %>
          </div>
          <div data-action="click->phone-number#phone">
          <%= render "shared/phone-svg" %>
          </div>



          <%# Chat Icon and Logic %>
          <%# IF USER not Log-in %>
          <% unless pet.user == current_user %>
            <div>
              <% if current_user.nil? %>
                <%# Go to Log-in page %>
                <%= link_to new_user_session_path do %>
                  <%= render "shared/message-svg" %>
                <% end %>
              <%# ELSE %>
              <% else %>
                <% if current_user.has_chat_with?(pet) %>
                  <% existing_chat = current_user.return_common_chat(pet) if current_user %>
                  <%= link_to chatroom_path(existing_chat) do %>
                    <%= render "shared/message-svg" %>
                <% end %>
                <% else %>
                  <%= simple_form_for @chatroom, class: "bg-dark" do |f| %>
                    <%= f.input :name, as: :hidden, input_html: { value: pet.user.username } %>
                    <%= f.input :pet_id, as: :hidden, input_html: { value: pet.id } %>
                    <%= f.button :button, class: "ms-icon" do %>
                    <%= render "shared/message-svg" %>
                    <% end %>
                  <% end %>
                <% end %>
              <%# END %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
