<div class = "container">
    <div class="pet-image">
    </div>
    <div class="pet-details">
        <h2><%= @pet.name %></h2>
        <%= @pet.species %>| <%= @pet.breed %>
        <h3>Descripiton</h3>
          <p><%= @pet.details %></p>
        </div>
        </div>
        <h3><%= @pet.country %></h3>
        <%= @pet.street %><%= @pet.city %><%= @pet.zip_code %>
        <div class="descripiton"> 
</div>