<div class = "container-white-background">
    <div class="pet-image">
        <%= cl_image_tag @pet.photo.key, height: 400, width: 400, crop: :fill %>
    </div>
    <div class="pet-details">
        <h2><%= @pet.name %></h2>
        <%= @pet.species %> | <%= @pet.breed %>
        <h3>Descripiton</h3>
        <p><%= @pet.details %></p>
        <h4><%= @pet.country %></h4>
        <%= @pet.street %><%= @pet.city %><%= @pet.zip_code %>
    </div>
</div>
