<div class="pet-image">
  <div class="gradient-overlay"></div>
  <%= cl_image_tag @pet.photo.key, height: 400, width: 400, crop: :fill %>
</div>
<div class = "container-white-background">
  <div class="pet-details">
    <h2 class="pet-themes"><%= @pet.name.capitalize %></h2>
    <div class="additional-features">
      <div class="left-icon">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.9456 12.2508C12.5173 12.2508 13.7915 10.9767 13.7915 9.4049C13.7915 7.83313 12.5173 6.55896 10.9456 6.55896C9.37378 6.55896 8.09961 7.83313 8.09961 9.4049C8.09961 10.9767 9.37378 12.2508 10.9456 12.2508Z" stroke="#8B8B8F" stroke-width="1.64189"/>
        <path d="M3.302 7.74353C5.09896 -0.155778 16.802 -0.146657 18.5898 7.75266C19.6388 12.3864 16.7564 16.3087 14.2297 18.7351C12.3962 20.5047 9.49557 20.5047 7.65301 18.7351C5.13544 16.3087 2.25301 12.3773 3.302 7.74353Z" stroke="#8B8B8F" stroke-width="1.64189"/>
        </svg>
        <p><%= @pet.street.capitalize %> | <%= @pet.city.capitalize %></p>
      </div>
      <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="18.5" cy="18.5" r="18.5" fill="#A3F1F5"/>
      <path d="M22.6973 20.9999C22.1623 21.0003 21.6355 21.1388 21.1623 21.4032C20.6891 21.6677 20.2837 22.0502 19.9811 22.5178L15.3759 20.3136C15.703 19.4764 15.7042 18.536 15.3794 17.6978L19.9783 15.4824C20.4268 16.1699 21.0929 16.6643 21.8558 16.8759C22.6187 17.0874 23.4278 17.0021 24.1365 16.6355C24.8451 16.2688 25.4063 15.6451 25.7183 14.8774C26.0303 14.1097 26.0723 13.2489 25.8368 12.4512C25.6013 11.6535 25.1039 10.9716 24.4348 10.5293C23.7656 10.087 22.9691 9.91362 22.1897 10.0405C21.4102 10.1674 20.6995 10.5862 20.1865 11.221C19.6734 11.8557 19.3919 12.6644 19.3932 13.5003C19.3962 13.6981 19.4151 13.8953 19.4498 14.0897L14.5608 16.4446C14.0912 15.9783 13.5034 15.6675 12.8695 15.5505C12.2356 15.4334 11.5833 15.5152 10.9926 15.7857C10.402 16.0563 9.89874 16.5038 9.54475 17.0733C9.19076 17.6429 9.00142 18.3096 9.00001 18.9917C8.99859 19.6737 9.18516 20.3413 9.53679 20.9125C9.88842 21.4837 10.3898 21.9335 10.9793 22.2068C11.5688 22.4801 12.2208 22.5649 12.8552 22.4508C13.4896 22.3367 14.0787 22.0287 14.5502 21.5646L19.4519 23.9105C19.4178 24.1047 19.3991 24.3016 19.396 24.4992C19.3959 25.1915 19.5894 25.8683 19.9522 26.444C20.315 27.0197 20.8307 27.4684 21.434 27.7334C22.0374 27.9984 22.7014 28.0678 23.342 27.9328C23.9826 27.7978 24.571 27.4644 25.0329 26.9749C25.4947 26.4853 25.8092 25.8616 25.9366 25.1826C26.064 24.5036 25.9985 23.7998 25.7485 23.1602C25.4985 22.5206 25.0752 21.974 24.532 21.5894C23.9889 21.2049 23.3504 20.9997 22.6973 20.9999V20.9999ZM22.6973 11.5001C23.0705 11.5 23.4354 11.6171 23.7458 11.8368C24.0562 12.0565 24.2982 12.3688 24.4411 12.7343C24.584 13.0998 24.6215 13.502 24.5488 13.89C24.4761 14.278 24.2964 14.6345 24.0325 14.9143C23.7687 15.1941 23.4324 15.3847 23.0664 15.4619C22.7003 15.5391 22.3209 15.4996 21.9761 15.3482C21.6312 15.1969 21.3365 14.9405 21.1291 14.6116C20.9217 14.2826 20.811 13.8959 20.811 13.5003C20.8114 12.97 21.0102 12.4616 21.3639 12.0866C21.7175 11.7116 22.1971 11.5007 22.6973 11.5001V11.5001ZM12.3208 20.9999C11.9475 21 11.5827 20.8828 11.2723 20.6631C10.9618 20.4435 10.7199 20.1311 10.577 19.7657C10.434 19.4002 10.3966 18.998 10.4693 18.61C10.542 18.2219 10.7217 17.8655 10.9855 17.5857C11.2494 17.3059 11.5856 17.1153 11.9517 17.0381C12.3177 16.9608 12.6972 17.0004 13.042 17.1518C13.3869 17.3031 13.6816 17.5595 13.889 17.8884C14.0963 18.2174 14.207 18.6041 14.207 18.9997C14.2065 19.5299 14.0076 20.0382 13.654 20.4131C13.3004 20.7881 12.8209 20.9991 12.3208 20.9999ZM22.6973 26.4993C22.3241 26.4993 21.9593 26.382 21.649 26.1622C21.3386 25.9425 21.0968 25.6301 20.954 25.2646C20.8111 24.8991 20.7738 24.497 20.8466 24.109C20.9194 23.721 21.0991 23.3646 21.363 23.0849C21.6269 22.8051 21.9631 22.6146 22.3292 22.5375C22.6952 22.4603 23.0746 22.4999 23.4194 22.6513C23.7642 22.8027 24.0589 23.059 24.2662 23.388C24.4736 23.7169 24.5842 24.1036 24.5842 24.4992C24.5839 25.0295 24.3849 25.538 24.0312 25.9131C23.6774 26.2881 23.1976 26.4989 22.6973 26.4993V26.4993Z" fill="#031A1C"/>
      </svg>
      <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="18.5" cy="18.5" r="18.5" fill="#031A1C"/>
      <path d="M8.84814 13.2789C8.84814 12.0689 9.83849 11.088 11.0601 11.088H18.8021C20.0238 11.088 21.0141 12.0689 21.0141 13.2789V17.6608C21.0141 18.8708 20.0238 19.8517 18.8021 19.8517H16.5901L13.2721 23.1381V19.8517H11.0601C9.83849 19.8517 8.84814 18.8708 8.84814 17.6608V13.2789Z" fill="white"/>
      <path d="M23.2261 15.4699V17.2427C23.2261 19.8936 21.0771 22.0427 18.4261 22.0427H17.5064L15.5524 23.978C15.8619 24.1412 16.2151 24.2336 16.5901 24.2336H18.8021L22.1201 27.52V24.2336H24.3321C25.5538 24.2336 26.5441 23.2527 26.5441 22.0427V17.6608C26.5441 16.4508 25.5538 15.4699 24.3321 15.4699H23.2261Z" fill="white"/>
      </svg>
      <% if @pet.species == "Cat" || "cat" %>
        <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="18.5" cy="18.5" r="18.5" fill="#EF6962"/>
        <path d="M18.5631 16.625H18.0621C17.4146 17.7471 16.2016 18.5 14.8128 18.5C14.4905 18.5 14.174 18.459 13.8752 18.3828V18.5V19.4375V25.0625C13.8752 25.5811 14.2942 26 14.8128 26C15.3314 26 15.7504 25.5811 15.7504 25.0625V20.9375L19.7351 24.125H18.0943C17.5757 24.125 17.1567 24.5439 17.1567 25.0625C17.1567 25.5811 17.5757 26 18.0943 26H22.3135C23.8664 26 25.1263 24.7402 25.1263 23.1875V16.6396C25.1263 16.168 25.4778 15.7666 25.9466 15.708L26.1781 15.6787C26.6909 15.6143 27.0571 15.1455 26.9926 14.6328C26.9282 14.1201 26.4594 13.7539 25.9466 13.8184L25.7152 13.8477C24.3088 14.0234 23.2511 15.2188 23.2511 16.6396V19.1387C22.2432 17.624 20.5203 16.625 18.5631 16.625ZM13.8752 17.4014C14.1682 17.5039 14.4846 17.5625 14.8128 17.5625C15.6449 17.5625 16.395 17.1992 16.9106 16.625C17.019 16.5049 17.1157 16.376 17.2007 16.2383C17.4702 15.8047 17.6255 15.2949 17.6255 14.75V11.9375V11.3516V11.3135C17.6255 11.1406 17.4878 11.0029 17.315 11H17.3091C17.2124 11 17.1216 11.0469 17.063 11.123V11.126L16.6879 11.624L15.891 12.6875L15.7504 12.875H13.8752L13.7345 12.6875L12.9376 11.624L12.5626 11.126V11.123C12.504 11.0469 12.4131 11 12.3164 11H12.3106C12.1377 11.0029 12 11.1406 12 11.3135V11.3516V11.9375V14.75C12 15.2568 12.1348 15.7344 12.3692 16.1445C12.7003 16.7246 13.2364 17.1758 13.8752 17.4014ZM15.2816 14.75C15.2816 14.6257 15.331 14.5065 15.4189 14.4185C15.5068 14.3306 15.626 14.2812 15.7504 14.2812C15.8747 14.2812 15.9939 14.3306 16.0818 14.4185C16.1698 14.5065 16.2192 14.6257 16.2192 14.75C16.2192 14.8743 16.1698 14.9935 16.0818 15.0815C15.9939 15.1694 15.8747 15.2188 15.7504 15.2188C15.626 15.2188 15.5068 15.1694 15.4189 15.0815C15.331 14.9935 15.2816 14.8743 15.2816 14.75ZM13.8752 15.2188C13.7508 15.2188 13.6316 15.1694 13.5437 15.0815C13.4558 14.9935 13.4064 14.8743 13.4064 14.75C13.4064 14.6257 13.4558 14.5065 13.5437 14.4185C13.6316 14.3306 13.7508 14.2812 13.8752 14.2812C13.9995 14.2812 14.1188 14.3306 14.2067 14.4185C14.2946 14.5065 14.344 14.6257 14.344 14.75C14.344 14.8743 14.2946 14.9935 14.2067 15.0815C14.1188 15.1694 13.9995 15.2188 13.8752 15.2188Z" fill="white"/>
        </svg>
      <% else %>
        <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="18.5" cy="18.5" r="18.5" fill="#EF6962"/>
        <path d="M17.9379 15.6436L17.3363 11.5801C17.2868 11.2461 17.029 11 16.7269 11C16.5315 11 16.3492 11.1025 16.232 11.2783L15.7919 11.9375H14.4351C14.1043 11.9375 13.7866 12.0869 13.5522 12.3506L13.0834 12.875H11.625C11.2787 12.875 11 13.1885 11 13.5781V14.2812C11 15.5762 11.9323 16.625 13.0834 16.625H13.9168H14.3335H14.8882L15.021 17.5186L17.9379 15.6436ZM15.1669 18.5029V25.0625C15.1669 25.5811 15.5393 26 16.0003 26H16.8336C17.2946 26 17.667 25.5811 17.667 25.0625V21.6875C18.2921 22.0479 19.0004 22.25 19.7505 22.25C20.5005 22.25 21.2089 22.0479 21.8339 21.6875V25.0625C21.8339 25.5811 22.2063 26 22.6673 26H23.5007C23.9616 26 24.334 25.5811 24.334 25.0625V18.3184C25.0841 17.999 25.6726 17.2842 25.8758 16.3701L25.9747 15.916C26.0867 15.415 25.8159 14.9053 25.3679 14.7793C24.92 14.6533 24.4695 14.958 24.3575 15.4619L24.2559 15.916C24.1648 16.332 23.8314 16.625 23.4486 16.625H22.6673H22.2506H18.0889L15.1669 18.5029ZM13.9168 13.3438C13.9168 13.2194 13.9607 13.1002 14.0389 13.0123C14.117 12.9244 14.223 12.875 14.3335 12.875C14.444 12.875 14.55 12.9244 14.6282 13.0123C14.7063 13.1002 14.7502 13.2194 14.7502 13.3438C14.7502 13.4681 14.7063 13.5873 14.6282 13.6752C14.55 13.7631 14.444 13.8125 14.3335 13.8125C14.223 13.8125 14.117 13.7631 14.0389 13.6752C13.9607 13.5873 13.9168 13.4681 13.9168 13.3438Z" fill="white"/>
        </svg>
      <% end %>
    </div>
    <div class="change-state">
    <%# current id e missing %>
      <% if @pet.user == current_user && @pet.missing = true %>
        <%= link_to "Mark as found", mark_as_found_path, class:"button-pink"%>
      <% elsif @pet.missing = true && @pet.category = "I lost" %>
        <p class="button-black">I found this pet!</p>
      <% end %>
    </div>
    <h2 class="pet-themes">About <%= @pet.name.capitalize %></h2>
      <div class="about-pet">
        <div class="color-breed-pet">
          <h3>Color</h3>
          <p><%= @pet.colors.capitalize %></p>
        </div>
        <div class="color-breed-pet">
          <h3>Breed</h3>
          <% if @pet.breed.present?%>
            <%= @pet.breed.capitalize%>
          <% else %>
            <%= "Not informed"%>
          <% end %>
        </div>
      </div>
    <h2 class="pet-themes pt-1">More details</h2>
    <p><%= @pet.details.capitalize %></p>
    <div class="activity">
      <div id="theme-activity">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_124_237)">
        <path d="M20 0H4C2.93913 0 1.92172 0.421427 1.17157 1.17157C0.421427 1.92172 0 2.93913 0 4L0 16C0 17.0609 0.421427 18.0783 1.17157 18.8284C1.92172 19.5786 2.93913 20 4 20H6.9L11.351 23.763C11.5316 23.9158 11.7605 23.9997 11.997 23.9997C12.2335 23.9997 12.4624 23.9158 12.643 23.763L17.1 20H20C21.0609 20 22.0783 19.5786 22.8284 18.8284C23.5786 18.0783 24 17.0609 24 16V4C24 2.93913 23.5786 1.92172 22.8284 1.17157C22.0783 0.421427 21.0609 0 20 0V0ZM22 16C22 16.5304 21.7893 17.0391 21.4142 17.4142C21.0391 17.7893 20.5304 18 20 18H17.1C16.6273 18.0001 16.1699 18.1677 15.809 18.473L12 21.69L8.193 18.473C7.83156 18.1673 7.3734 17.9997 6.9 18H4C3.46957 18 2.96086 17.7893 2.58579 17.4142C2.21071 17.0391 2 16.5304 2 16V4C2 3.46957 2.21071 2.96086 2.58579 2.58579C2.96086 2.21071 3.46957 2 4 2H20C20.5304 2 21.0391 2.21071 21.4142 2.58579C21.7893 2.96086 22 3.46957 22 4V16Z" fill="#031A1C"/>
        <path d="M7 7.00012H12C12.2652 7.00012 12.5196 6.89476 12.7071 6.70723C12.8946 6.51969 13 6.26534 13 6.00012C13 5.7349 12.8946 5.48055 12.7071 5.29301C12.5196 5.10548 12.2652 5.00012 12 5.00012H7C6.73478 5.00012 6.48043 5.10548 6.29289 5.29301C6.10536 5.48055 6 5.7349 6 6.00012C6 6.26534 6.10536 6.51969 6.29289 6.70723C6.48043 6.89476 6.73478 7.00012 7 7.00012Z" fill="#031A1C"/>
        <path d="M17 9H7C6.73478 9 6.48043 9.10536 6.29289 9.29289C6.10536 9.48043 6 9.73478 6 10C6 10.2652 6.10536 10.5196 6.29289 10.7071C6.48043 10.8946 6.73478 11 7 11H17C17.2652 11 17.5196 10.8946 17.7071 10.7071C17.8946 10.5196 18 10.2652 18 10C18 9.73478 17.8946 9.48043 17.7071 9.29289C17.5196 9.10536 17.2652 9 17 9Z" fill="#031A1C"/>
        <path d="M17 12.9999H7C6.73478 12.9999 6.48043 13.1052 6.29289 13.2928C6.10536 13.4803 6 13.7347 6 13.9999C6 14.2651 6.10536 14.5195 6.29289 14.707C6.48043 14.8945 6.73478 14.9999 7 14.9999H17C17.2652 14.9999 17.5196 14.8945 17.7071 14.707C17.8946 14.5195 18 14.2651 18 13.9999C18 13.7347 17.8946 13.4803 17.7071 13.2928C17.5196 13.1052 17.2652 12.9999 17 12.9999Z" fill="#031A1C"/>
        </g>
        <defs>
        <clipPath id="clip0_124_237">
        <rect width="24" height="24" fill="white"/>
        </clipPath>
        </defs>
        </svg>
        <h2 class="pet-themes pt-1">Recent Activity</h2>
      </div>
      <p>📍 Last seen: Mathenesselaan 217A, Rotterdam</p>
    </div>
  </div>
</div>
