<div data-controller="navbar-popup">

  <div class="navbar-pet fixed-bottom">

    <div class="content-navbar pt-4" data-controller="page-name-navbar">
      <a href="<%= root_path %>">
        <%= render "shared/root-svg" %>
        <p data-action="load->page-name-navbar#load" data-page-name-navbar-target="pageName" data-page="<%= root_path %>"><%= link_to "Home", root_path%></p>
      </a>
    </div>

    <!--Map Button trigger-->
    <div class="content-navbar pt-4" data-controller="page-name-navbar">
      <a href="<%= map_path %>">
        <%= render "shared/location-svg" %>
        <p data-action="load->page-name-navbar#load" data-page-name-navbar-target="pageName" data-page="<%= map_path %>"><%= link_to "Location", map_path%></p>
      </a>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="create" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="fa-solid fa-plus fa-2x" style="color: #FFFFFF;"></i>
    </button>
    <!-- Modal popup -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div><%= link_to "I found a pet", new_pet_path(category: 'I found'), class: "btn btn-primary", style: "color: #212529;" %></div>
            <div><%= link_to "I lost a pet", new_pet_path(category: 'I lost'), class: "btn btn-secondary", style: "color: white;" %></div>
          </div>

          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

    <div class="content-navbar pt-4" data-controller="page-name-navbar">
      <a href="<%= pets_path %>">
        <%= render "shared/browse-svg" %>
        <p data-action="load->page-name-navbar#load" data-page-name-navbar-target="pageName" data-page="<%= pets_path %>"><%= link_to "Browse", pets_path%></p>
      </a>
    </div>


    <div class="content-navbar pt-4" data-controller="page-name-navbar">
      <a href="<%= profile_path %>">
        <%= render "shared/profile-svg" %>
        <p data-action="load->page-name-navbar#load" data-page-name-navbar-target="pageName" data-page="<%= profile_path %>"><%= link_to "Profile", profile_path%></p>
      </a>
    </div>

  </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        <% end %>
      </ul>
    </div>
