<div class="navbar-pet fixed-bottom">

  <div class="content-navbar pt-4">
    <a href="<%= root_path %>">
      <i class="fa-solid fa-house"></i>
      <p><%= link_to "Home", root_path%></p>
    </a>
  </div>

  <div class="content-navbar pt-4">
    <a href="<%= root_path %>">
      <i class="fa-solid fa-location-dot"></i>
      <p><%= link_to "Location", root_path%></p>
    </a>
  </div>



  <!-- Button trigger modal -->
  <button type="button" class="create" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="fa-solid fa-plus fa-2x" style="color: #FFFFFF;"></i>
  </button>




  <!-- Modal popup -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <div><button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= link_to "Report Found", new_pet_path(category: 'found'), class: "" %></button></div>
          <div><%= link_to "Report lost", new_pet_path(category: 'lost'), class: "btn btn-primary" %></div>
        </div>
      </div>
    </div>
  </div>











  

  <div class="content-navbar pt-4">
    <a href="<%= root_path %>">
      <i class="fa-solid fa-grip"></i>
      <p><%= link_to "Browse", pets_path%></p>
    </a>
  </div>

  <div class="content-navbar pt-4">
    <a href="<%= root_path %>">
      <i class="fa-regular fa-user"></i>
      <p><%= link_to "Profile", root_path%></p>
    </a>
  </div>

</div>
