<div class="container-white-background">
  <div class="home-container">
    <div class="devise-container">
      <h2 class="home-title">Login</h2>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs devise-input">
            <%= f.input :email,
                        label: 'Email',
                        required: false,
                        autofocus: true,
                        placeholder: 'ilovepets@email.com',
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        placeholder: 'At least 6 characters',
                        input_html: { autocomplete: "current-password" } %>
            <div class='remember-forgot'>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <%= link_to "Forgot your password?", new_password_path(resource_name) %>
              <% end %>
            </div>
          </div>